
html {
    font-size: 18px;
}

html,body{
    margin:0;
}

.App{
    font-family: "Work Sans", sans-serif;
}
.App h1{
    background-color: burlywood;
    color: white;
    font-family: 'Brush Script MT';
    font-size: 3.5rem;
    text-align: center;
    margin:0;
}